<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
  Number: {{num}}
</div>
<form [formGroup]="themesRadioForm">
    <div class="btn-group btn-group-toggle theme-element" ngbRadioGroup name="radioBasic" formControlName="theme">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="0"> Day
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="1"> Night
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="2"> Colorful
      </label>
    </div>
  </form>
  <hr>
  <pre>{{themesRadioForm.value['theme']}}</pre>

<div class="theme-element" *ngFor="let number of displayedNumbers">
  {{number}}
</div>

<br>

<div class="theme-element">
  <span class="theme-element">Enter searching message: </span>
  <input (keyup)="messageTyping($event)">

  <ul class="scrollable-area">
    <li class="theme-element" *ngFor="let mess of getSameMessages()">{{mess}}</li>
  </ul>

</div>